@import './modules/_Vars.scss';
@import './modules/_Navigation.scss';
@import './modules/_PopUp.scss';
@import './modules/_Home.scss';
@import './modules/_About.scss';
@import './modules/_Contact.scss';
@import './modules/_Queries.scss';

.dark {
    img {
        filter: brightness(0) !important;
    }

    ul {
        li {
            a {
                color: black !important;
            }
        }
    }
}

html{position: relative; height: 100%; overflow: hidden;}

#about, html, #popup div {
    &::-webkit-scrollbar {
        display: block;
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #111111;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.212);
        border-radius: 200px;
        height: 20px;
    }

    &::-webkit-scrollbar-track-piece:end {
        background: transparent;
        margin-bottom: 4px;
    }

    &::-webkit-scrollbar-track-piece:start {
        background: transparent;
        margin-top: 4px;
    }
}

#fp-nav ul li a span {
    transition: background 0.5s ease;
    background: white;
}

.black {
    background: #111111 !important;
}

.slideLeft {
    transform: translateX(-100%);
}

.hide {
    display: none !important;
}

#fp-nav {
    display: none;
}
