#about {
    background: $home-gradient;
    height: 100vh;
    overflow: auto;
    .aboutWrapper {
        padding-top: 20%;

        .aboutNames {
            .active {
                h2 {
                    opacity: 1 !important;
                }
            }

            width: 100%;
            display: flex;
            justify-content: space-evenly;
            color: white;
            font: 700 24px $heading-font;
            margin-bottom: 10%;
            
            h2 {
                cursor: pointer;
                opacity: 0.2;
                transition: opacity 0.4s ease;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        .aboutContent {
            width: 85%;
            margin: 0 auto;
            justify-content: center;
            color: white;

            h3 {
                font: 700 22px $heading-font;
                text-transform: uppercase;
                width: 95%;
                margin: 0 auto;
            }

            img {
                width: 70%;
                margin: 8% auto;
                display: flex;
                align-items: flex-start;
            }

            p {
                font: 700 15px $body-font;
                width: 97%;
                margin: 0 auto;
            }

            .icons {
                svg {
                    color: white;
                    font-size: 25px;
                    margin: 6% 4% 10% 0;
                }
            }
        }
    }
}