#home {
    #fullpage {
        #section1, #section2, #section3, #section4 {
            padding-top: 0 !important;
        }
        #section0 {
            background-image: $home-gradient;
        }

        #section1 {
            background: $proj1-gradient;
            img {
                        transform: translateX(5%);
            }
        }

        #section2 {
            background: $proj2-gradient;
        }

        #section3 {
            background: $proj3-gradient;
        }

        .section {
            h1, h2 {
                font-family: $heading-font;
                width: 80%;
            }

            h2, p, a {
                margin-left: 5%;
            }

            .sectionContent {
                .sectionText {
                    h2 {
                        font-size: 38px;
                        line-height: 48px;
                        text-transform: capitalize;
                        font-weight: 800;
                        color: black;
                        margin-bottom: 2%;
                        margin-top: 3%;
                    }
        
                    p {
                        font-family: $body-font;
                        width: 85%;
                        letter-spacing: 0.2px;
                        line-height: 20px;
                        font-size: 16px;
                        font-weight: 600;
                    }
        
                    a {
                        font-family: $body-font;
                        font-size: 15px;
                        display: flex;
                        justify-content: center;
                        width: 35%;
                        background-color: black;
                        color: white;
                        margin: 5% 0 3% 5%;
                        padding: 3.5% 2%;
                        text-decoration: none;
                        border-radius: 5px;
                        border: solid 2px transparent;
                        transition: all 0.4s ease;
        
                        &:hover {
                            background: none;
                            border: 2px solid white;
                        }
                    }
                }
            }

            img {
                width: 93%;
                display: flex;
                object-fit: cover;
                margin: 0 auto;
            }

            .homeTop {
                width: 95%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                height: 100%;

                h1 {
                    color: white;
                    font-size: 24px;
                    line-height: 34px;
                    font-weight: 700;
                    margin-left: auto;
                    margin-right: auto;
                }

                img {
                    width: 100%;
                    margin: 0 auto;
                }
            }

            &:not(:first-child) {
                img {
                    width: 88%;
                    margin-top: 8%;
                }
            }
        }
    }
}