@media screen and (min-width: 359px) {
    header {
        #topNav {
            padding: 20px 15px;

            img {
                width: 35px;
            }

            div {
                a {
                    width: 35px;
                }

                img:nth-child(2) {
                    width: 30px;
                }
            }
        }
    }
    #home {
        #fullpage {
            #section1 {
                img {
                    transform: translateX(15%);
                }
            }
            .section {
                .homeTop {
                    h1 {
                        font-size: 28px;
                        line-height: 38px;
                    }

                    img {
                        width: 98%;
                    }
                }

                .sectionContent {
                    .sectionText {
                        h2 {
                            font-size: 42px;
                            line-height: 54px;
                        }
        
                        p {
                            font-size: 19px;
                            line-height: 24px;
                            letter-spacing: 0.95px;
                            width: 308px;
                        }
        
                        a {
                            font-size: 18px;
                            width: 160px;
                            padding: 0;
                            align-items: center;
                            height: 40px;
                        }
                    }
                }

                .project {
                    img {
                        width: 320px;
                        margin-top: 4%;
                    }
                }
            }
        }
    }
    #about {
        .aboutWrapper {
            .aboutNames {
                font-size: 28px;
                margin: 9% 0 15%;
            }

            .aboutContent {
                h3 {
                    font-size: 26px;
                    line-height: 29px;
                }

                img {
                    width: 210px;
                }

                p {
                   font-size: 18px;
                   line-height: 23.5px;
                   width: 313px; 
                }

                .icons {
                    display: flex;
                    width: 85px;
                    margin-left: 4.5%;
                    margin-top: 7%;

                    a:nth-child(1) {
                        margin-right: 12px;
                    }

                    a {
                        svg {
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (min-height: 740px) {
    #home {
        #fullpage {
            #section1, #section2 {
                padding-top: 0 !important;
            }
    
            #section1 {
                img {
                    transform: translateX(8%);
                }
            }
            .section {
                .homeTop {
                    h1 {
                        margin-top: 15%;
                    }
                    img {
                        margin-top: 15%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 374px) {
    #home {
        #fullpage {
            #section1, #section2 {
                padding-top: 0 !important;
            }
    
            .section {
                .homeTop {
                    h1 {
                        font-size: 32px;
                        line-height: 46px;
                        width: 307px;
                    }
                }

               .sectionContent {
                   .sectionText {
                        h2 {
                            font-size: 48px;
                            line-height: 58px;
                            width: 85%;
                        }
        
                        p {
                            font-size: 18px;
                            line-height: 20px;
                        }
        
                        a {
                            font-size: 16px;
                            width: 120px;
                        }
                   }

                   img {
                       margin-top: 9%;
                   }
               }
            }
        }
    }
}

@media screen and (min-width: 410px) {
    #home {
        #fullpage {
            .section {
                .sectionContent {
                    .sectionText {
                        h2 {
                            font-size: 52px;
                            line-height: 64px;
                        }
        
                        p {
                            width: 90%;
                            font-size: 22px;
                            line-height: 26px;
                        }
        
                        a {
                            font-size: 18px;
                            width: 135px;
                        }
                    }

                    img {
                        width: 410px;
                        margin-top: 15%;
                    }
                }
            }
        }
    }

    #contact {
        h1 {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 550px) {
    #about .aboutWrapper {
        .aboutNames {
            width: 460px;
            font-size: 34px;
            margin: 4% auto 13%;
        }

        .aboutContent {
            h3 {
                width: 400px;
                margin: 0 auto;
                font-size: 36px;
                line-height: 46px;
            }

            img {
                width: 290px;
            }

            p {
                font-size: 23px;
                line-height: 28.5px;
                width: 400px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #fp-nav {
        display: block !important;
    }
    
    header {
        #topNav {
            padding: 30px 30px 0;
            img {
               width: 45px; 
            }

            div {
                a {
                    width: 45px;
                }

                a:nth-child(1) {
                    margin: 0 14% 0 -12%;
                }

                img:nth-child(2) {
                    width: 35px;
                }
            }

            ul {
                li {
                    margin: 0 auto;
                    line-height: 90px;
                    a {
                        font-size: 48px;
                    }
                }
            }
        }
    }

    #home {
        #fullpage {
            .section { 
                .homeTop {
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    width: 89%;

                    h1 {
                        margin: -5% 0 0 0;
                        font-size: 52px;
                        line-height: 66px;
                        width: 496px;
                    }

                    img {
                        width: 510px;
                        margin-top: 5%;
                        transform: translate(0) !important;
                        object-fit: contain;
                        max-height: 520px;
                    }
                }

                .sectionContent {
                    .sectionText {
                        h2 {
                            font-size: 58px;
                            line-height: 72px;
                            width: 614px;
                            margin-top: 10%;
                        }
        
                        p {
                            font-size: 22px;
                            width: 522px;
                            line-height: 26px;
                        }
                    }

                    img {
                        width: 550px;
                        margin-top: 5%;
                    }
                }
            }
        }
    }

    #about {
        .aboutWrapper {
            margin-bottom: 4%;

            .aboutNames {
                width: 460px;
                margin: 0 auto 8%;
            }

            .aboutContent {
                h3 {
                    width: 440px;
                }

                img {
                    margin: 6% auto;
                }

                p {
                    width: 440px;
                }

                .icons {
                    margin-left: 16.5%;
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {
    #about {
        .aboutWrapper {
            .aboutContent {
                .icons { margin-left: 18.5%; }
            }
        }
    }

    #contact {
        h1 {
            font-size: 36px;
            line-height: 40px;
            width: 450px;
        }

        h2 {
            font-size: 24px;
        }

        form {
            width: 490px;
            .formFirst {
                span {
                    label {
                        font-size: 20px;
                    }

                    input {
                        font-size: 18px;
                    }
                }
            }

            .formSecond {
                span {
                    width: 100%;

                    textarea {
                        font-size: 18px;
                    }

                    input {
                        width: 130px;
                        font-size: 16px;
                    }
                }
            }
        }

        .sentMsg {
            width: 550px;

            p {
                font-size: 36px;
                line-height: 44px;
            }

            a {
                width: 130px;
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width: 966px) {
    #about {
        background: linear-gradient(1deg, #0A0909 0%, rgb(26, 26, 26) 91.67%);
        .aboutWrapper {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            padding-top: 0;
            .aboutNames {
                flex-direction: column;
                position: absolute;
                right: 4%;
                top: 50%;
                transform: translateY(-50%);
                width: auto;
                margin: 0;
                text-align: right;
                font-size: 28px;
                line-height: 42px;
            }

            .aboutContent {
                display: flex;
                flex-direction: column;
                width: 90%;
                h3 {
                    font-size: 42px;
                    line-height: 50px;
                    width: 500px;
                    margin: 0;
                }

                p {
                    font-size: 22px;
                    line-height: 30.2px;
                    width: 450px;
                    margin: 20px 0;
                }

                img {
                    position: absolute;
                    right: 18%;
                    top: 53%;
                    transform: translateY(-50%);
                    margin: 0;
                    width: 290px;
                    
                }

                .icons {
                    display: flex;
                    margin-left: 0;
                    margin-top: 3%;

                    a {
                        margin-right: 1%;

                        svg {
                            font-size: 30px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {

    #home {
        #fullpage {
            #section1 {
                img {
                    transform: translateX(5%);
                }
            }
            .section {
                .homeTop {
                    flex-direction: row;

                    h1 {
                        font-size: 50px;
                        line-height: 69px;
                    }

                    img {
                        width: 430px;
                        margin-top: 0;
                    }
                }

                .sectionContent {
                    display: flex;
                    width: 95%;
                    margin: 0 auto;
                    align-items: center;
                    justify-content: center;

                    .sectionText {
                        flex: 1 0 auto;
                        width: 533px;

                        h2 {
                            letter-spacing: 0.6px;
                            width: 548px;
                            font-size: 50px;
                            line-height: 64px;
                            text-transform: capitalize;
                            margin-top: 0;
                        }

                        p {
                            width: 470px;
                        }
                    }

                    img {
                        flex: 0 1 auto;
                        margin-top: 5%;
                        width: 440px;
                    }
                }
            }
        }
    }

    #contact {
        background: linear-gradient(1deg, #0A0909 0%, rgb(26, 26, 26) 91.67%);
        h1 {
            margin-top: 10%;
            font-size: 42px;
            line-height: 50px;
            width: 719px;
        }

        h2 {
            font-size: 28px;
            margin: 6% 0 3%;
        }

        form {
            .formFirst {
                span {
                    label {
                        font-size: 22px;
                        margin-top: 8%;
                    }

                    input {
                        margin: 4% 0 0;
                        font-size: 18px;
                    }
                }
            }

            .formSecond {
                span {
                    textarea {
                        width: 100%;
                        font-size: 18px;
                    }

                    input {
                        width: 125px;
                        font-size: 16px;
                    }
                }
            }
        }

        .sentMsg {
            width: auto;
            p {
                width: 685px;
                font-size: 42px;
                line-height: 50px;
                text-align: left;
            }

            a {
                margin-top: 5%;
                font-size: 17px;
                padding: 0;
                width: 150px;
                height: 48px;
                align-items: center;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    header {
        #topNav {
            padding: 30px 50px 0;

            div {
                a:nth-child(1) {
                    margin: 0;
                }

                img:nth-child(2) {
                    display: none;
                }
            }

            img:nth-child(3) {
                display: none;
            }

            ul {
                width: 380px;
                top: 6%;
                right: 20px;
                justify-content: space-evenly;
                height: auto;
                left: auto;
                opacity: 1;
                align-items: inherit;
                flex-direction: row;
                background: transparent;
                z-index: 99999;

                li {
                   margin: 0;
                   line-height: normal;

                   a {
                       font-size: 20px;
                   }
                }
            }
        }
    }


    #home {
        #fullpage {
            #section0 {
                background-image: linear-gradient(1deg, #0a0909 0%, #222222 86%);
            }
            #section1 {
                background: linear-gradient(1deg, #7189C7 0%, rgba(27, 132, 155, 0.74) 100%);
            }

            .section {
                .homeTop {
                    width: 1070px;
                    
                    h1 {
                        font-size: 60px;
                        line-height: 76px;
                        width: 577px;
                    }
    
                    img {
                       width: 490px; 
                    }
                }

                h2, p {
                    margin-left: 0;
                }

                .sectionContent {
                    width: 1070px;

                    .sectionText {
                        h2 {
                            font-size: 56px;
                            line-height: 64px;
                            letter-spacing: 0.8px;
                            margin-bottom: 6%;
                        }

                        p {
                            width: 480px;
                            font-size: 24px;
                            line-height: 34px;
                        }

                        a {
                            margin-left: 0;
                        }
                    }

                    img {
                        margin-top: 13%;
                        width: 522px;
                    }
                }
            }
        }
    }

    #about {
        .aboutWrapper {
            .aboutNames {
                font-size: 32px;
                line-height: 50px;
            }

            .aboutContent {
                width: 1070px;
                margin-top: 7%;

                h3 {
                    font-size: 60px;
                    line-height: 67px;
                    width: auto;
                }

                img {
                    top: 59%;
                    width: 376px;
                }

                p {
                    width: 556px;
                    font-size: 30px;
                    line-height: 47.6px;
                }

                .icons {
                    margin-left: 0;
                    margin-top: 4%;
                }
            }
        }
    }

    #contact {
        h2 {
            margin: 4% 0 1%;
        }
    }
}

@media screen and (min-width: 1365px) {
    #contact {
        h1 {
            font-size: 48px;
            line-height: 58px;
            width: 821px;
            margin-top: 5%;
        }

        h2 {
            margin: 6% 0% 2%;
        }

        form {
            width: 620px;

            .formFirst {
                span {
                    input {
                        margin-top: 3%;
                    }

                    img {
                        width: 36px;
                    }
                }
            }
        }

        .sentMsg {
            p {
                width: 868px;
                font-size: 48px;
                line-height: 56px;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    #about {
        .aboutWrapper {
            .aboutContent {
                img {
                    top: 68%;
                    width: 361px;
                }
                
                p {
                    font-size: 26px;
                    line-height: 41px;
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    #home {
        #fullpage {
            .section {
                .homeTop {
                    width: 1160px;
                }

                .sectionContent {
                    width: 1160px;
                    img {
                        width: 590px;
                    }
                }
            }
        }
    }

    #about {
        .aboutWrapper {
            .aboutContent {
                margin-top: 7%;
                h3 {
                    margin-top: -10%;
                }

                p {
                    width: 562px;
                    font-size: 26px;
                    line-height: 36px;
                    padding-top: 3%;
                }

                img { 
                    width: 340px;
                    right: 22%; 
                }
            }
        }
    }

    #contact {
        h1 {
          width: 987px;
          font-size: 56px;
          line-height: 63px;
          margin-top: 6%;  
        }

        h2 {
            margin: 3% 0 1%;
            font-size: 37px;
        }

        form {
            .formFirst {
                span {
                    label {
                        font-size: 28px;
                    }

                    input {
                        padding: 2.5% 2% 3.5%;
                        font-size: 20px;
                    }
                }
            }

            .formSecond {
                span {
                    width: 100%;
                    textarea {
                        font-size: 20px;
                    }

                    input {
                        font-size: 18px;
                        width: 160px;
                        padding: 17px 0 13px;
                    }
                }
            }
        }

        .sentMsg {
            p {
                width: 920px;
                font-size: 56px;
                line-height: 63px;
            }

            a {
                margin-top: 8%;
                font-size: 22px;
                padding-top: 2px;
                height: 55px;
                width: 175px;
            }
        }
    }
}

@media screen and (min-width: 1870px) {
    #about {
        .aboutWrapper {
            .aboutContent {
                img { right: 25%; }
            }
        }
    }
}
