$heading-font: 'Spartan', sans-serif;
$body-font: 'Assistant', sans-serif;

$home-gradient: linear-gradient(90deg, #0A0909 0%, rgb(26, 26, 26) 91.67%);
$proj1-gradient: linear-gradient(90deg, #7189C7 0%, rgba(27, 132, 155, 0.74) 100%);
$proj2-gradient: linear-gradient(90deg, #F0D07B 0%, #E4BA49 92.19%);
$proj3-gradient: linear-gradient(90deg, #FF7676 0%, #F65656 92.19%);

$pop-gradient: linear-gradient(90deg, #0A0909 0%, #111111 94.67%);